body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 124px;
  height: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 15px;
}
label,
h1 {
  color: rgb(9, 9, 9);
}
button {
  background-color: rgb(121, 102, 229);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: -2px 8px 32px -8px rgb(121, 102, 229);
  transition: 0.3s;
}
button:hover {
  background: rgb(91, 51, 223);
}
.top {
  top: 30px;
  right: 1.5%;
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
}
.top p {
  font-size: 14px;
  padding-right: 25px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -2px 8px 32px -8px rgb(160, 160, 160);
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 30px 60px;
}
.container button {
  width: 360px;
  height: 50px;
  box-shadow: none;
}
input {
  padding: 10px 10px 10px 45px;
  border-radius: 10px;
  outline: 1.5px solid lightgrey;
  border: none;
  transition: 0.1s ease-in;
  width: 300px;
  font-size: 15px;
}
input:hover {
  outline: 1.5px solid rgb(148, 146, 146);
}
input:focus {
  outline: 1.5px solid rgb(148, 146, 146);
}
.terms {
  font-size: 10px;
  color: grey;
  padding: 5px;
}
.terms a {
  color: rgb(101, 101, 101);
}
.login {
  font-weight: 785;
  width: 80px;
  height: 40px;
}
.cta {
  color: rgba(149, 108, 108, 0.355);
  font-size: 13px;
  font-weight: bold;
}
.errortext {
  color: rgb(216, 15, 15);
  font-size: 10px;
}
.errortext i {
  padding: 5px;
}
.sign {
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  color: rgb(152, 137, 240);
}
.sign:hover {
  border-bottom: dashed 1.5px rgb(152, 137, 240);
}
h1,
.sign,
.cta,
.terms {
  text-align: center;
}
.input-icons i {
  position: absolute;
  color: rgb(176, 176, 176);
  font-size: 20px;
  padding: 8px;
  margin-left: 5px;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
label {
  align-self: flex-start;
  padding-left: 75px;
  font-size: 12px;
  padding-bottom: 10px;
}
